<html>
<link rel="stylesheet" type="text/css" href="/style.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<body>
    <%- include('header') -%>
    <form method="POST" action="/add">
        <div class="type-center">
            <div>
                <label>Type</label>
            </div>
            <div>
                <select id='type' name="category">
                    <option value="Individual">Individual</option>
                    <option value="Place">Place</option>
                    <option value="Group">Group</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </div>
        <div class="form-container">
            <div class="form-column">
                <label>Title (Mandatory)</label><br>
                <input type="text" name="title"><br>
                <label>First Name</label><br>
                <input type="text" name="firstName"><br>
                <label>Last Name</label><br>
                <input type="text" name="lastName"><br>
                <label>Race</label><br>
                <input type="text" name=""><br>
                <label>Class</label><br>
                <input type="text" name="class"><br>
                <label>Alignment</label><br>
                <input type="text" name="alignment">
            </div>
            <div class="form-column">
                <label>Strength</label><br>
                <input type="number" name="strength"><br>
                <label>Intelligence</label><br>
                <input type="number" name="intelligence"><br>
                <label>Charisma</label><br>
                <input type="number" name="charisma"><br>
                <label>Dexterity</label><br>
                <input type="number" name="dexterity"><br>
                <label>Constitution</label><br>
                <input type="number" name="constitution"><br>
                <label>Wisdom</label><br>
                <input type="number" name="wisdom">
            </div>
            <div class="form-column">
                <label>Feats</label><br>
                <input type="text" name="feats"><br>
                <label>Static Traits</label><br>
                <input type="text" name="staticTraits"><br>
                <label>Dynamic Traits</label><br>
                <input type="text" name="dynamicTraits"><br>
                <label>Biography</label><br>
                <textarea class="bio" type="text" name="biography"></textarea> <br>
                <label>Goals</label><br>
                <textarea class="bio" type="text" name="goals"></textarea><br><br>
                <input type="submit" value="Create Entry">
            </div>
        </div>
    </form>
</body>

</html>