<html>
<link rel="stylesheet" type="text/css" href="./style.css" />

<body>
    <%- include('header') -%>
    <div class="db-container">
        <% entries.forEach(function(entry) { %>
        <% let url = "entries/" + entry.id %>
        <a class="index-list" href=<%=url %>>
            <%= entry.firstName %>
            <%= entry.lastName %></a>
        <% }) %>
    </div>
</body>

</html>