<html>
<link rel="stylesheet" type="text/css" href="style.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<body>
    <%- include('header') -%>
    <form method="POST" action="/search">
        <div class="form-container">
            <select id='type'>
                <option value="0">Individual</option>
                <option value="1">Place</option>
                <option value="2">Group</option>
                <option value="3">Other</option>
            </select>
        </div>
    </form>
</body>

</html>