body {
    background-image: url("mapbackground.png");
    background-size: cover;
    margin: auto;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: FantaisieArtistique;
    font-size: 4em;
    color: green;
    background: cornsilk;
    padding: 0;
}

.db-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.individual-container {
    margin: auto;
    width: 40em;
    height: 50em;
    background-image: url("containerimage.jpg");
    background-size: cover;
    font-family: monospace;
    color: greenyellow;
}

#entry-container {
    font-family: FantaisieArtistique;
    color: black;
    font-size: 1em;
    max-width: 50em;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

#stat-container {
    font-family: FantaisieArtistique;
    color: black;
    font-size: 1em;
    max-width: 50em;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
}

.stat-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    padding: .5em;
    text-align: center;
    font-family: FantaisieArtistique;
    font-size: 1.5em;
    color: black;
}

.title-noborder {
    text-align: center;
    font-family: FantaisieArtistique;
    color: black;
    font-size: 3em;
    padding-top: 1.5em;
}