body {
    background-image: url("mapbackground.png");
    background-size: cover;
    margin: auto;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: FantaisieArtistique;
    font-size: 4em;
    color: green;
    background: cornsilk;
    margin-bottom: 0px;
}

.nav {
    margin: auto;
    font-family: FantaisieArtistique;
    display: flex;
    justify-content: space-around;
    background: cornsilk;
    width: 50%;
    margin-bottom: 15px;
}

.nav a {
    color: green;
}

.form-container {
    display: flex;
    justify-content: center;
}

label {
    font-family: FantaisieArtistique;
    font-size: 1em;
}

input {
    width: 80%;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 10%
}

.form-column {
    background: cornsilk;
    min-width: 300px;
    text-align: center;
}

.index-list {
    font-size: 14px;
    margin-bottom: 5px;
    font-family: FantaisieArtistique;
}



.db-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.individual-container {
    margin: auto;
    width: 40em;
    height: 50em;
    background-image: url("containerimage.jpg");
    background-size: cover;
    font-family: monospace;
    color: greenyellow;
}

#entry-container {
    font-family: FantaisieArtistique;
    color: black;
    font-size: 1em;
    max-width: 50em;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

#stat-container {
    font-family: FantaisieArtistique;
    color: black;
    font-size: 1em;
    max-width: 50em;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
}

.stat-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    padding: .5em;
    text-align: center;
    font-family: FantaisieArtistique;
    font-size: 1.5em;
    color: black;
}

.title-noborder {
    text-align: center;
    font-family: FantaisieArtistique;
    color: black;
    font-size: 3em;
    padding-top: 1.5em;
}